{% extends "base.html" %}

{% block advance-head %}
    <link rel="stylesheet" href="/media/css/logistic/index.css">
    <link rel="stylesheet" href="/media/css/ui-lightness/jquery-ui-1.8.18.custom.css">
{% endblock %}

{% block advance-script %}
    <script src="http://api-maps.yandex.ru/2.0/?load=package.full&mode=debug&lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript" src="/media/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.ui.datepicker-ru.js"></script>
    <!--Custom scripts-->
    {% if page == "logistic" %}
        <script type="text/javascript" src="/media/js/logistic/logistic.js"></script>
    {% else %}
        <script type="text/javascript" src="/media/js/logistic/routing.js"></script>
    {% endif %}

    <script type="text/javascript" src="/media/js/logistic/search.js"></script>
    <script type="text/javascript" src="/media/js/logistic/common.js"></script>
    <!---->

    <script type="text/javascript" src="/media/js/knockout-2.1.0rc.js"></script>
    <script type="text/javascript">

        {% if page == 'logistic' %}
            var global_nav_item_id = '#nav-logistic';
        {% else %}
            var global_nav_item_id = '#nav-routing';
        {% endif %}

        $(function(){

            sizeSetup();

            $('#text_startdate').datepicker();

            /* При успешной загрузке API выполняется
             соответствующая функция */
            ymaps.ready(function () {
                map = new ymaps.Map('map', {
                    // Коэффициент масштабирования
                    zoom: 10,
                    // Тип карты
                    type: "yandex#map",
                    center : [ymaps.geolocation.latitude, ymaps.geolocation.longitude],
                    behaviors: ["default", "scrollZoom"]
                });

                map.controls.add("mapTools")
                    // Добавление кнопки изменения масштаба
                        .add("zoomControl")
                    // Добавление списка типов карты
                        .add("typeSelector");

                bind_controls_with_events();
            });
        });
    </script>

    <script type="text/html" id="AccordionItemTemplate">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a  class="accordion-toggle"
                    data-toggle="collapse"
                    data-parent="#accordionEmployee"
                    data-bind="uniqueHref: id"
                        >
                    <i class=" icon-shopping-cart" style="margin-right: 10px;"></i><span data-bind="text: name"></span>
                </a>
            </div>

            <div data-bind="uniqueId: id, value: id" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div>
                        <p> <strong>Адресс:</strong> <em><span data-bind="text:address"></span></em></p>
                        <p> <strong>Владелец:</strong> <span data-bind="text:legal_name"></span></p>
                    </div>

                    <div>
                        <button class="btn btn-primary"
                                        href="#" data-loading-text="Получаем координаты ..."
                                        data-bind="click: $parent.show_sale_point_on_map"
                                >Показать на карте</button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="WaypointItemTemplate">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a  class="accordion-toggle"
                    data-toggle="collapse"
                    data-parent="#accordionEmployee"
                    data-bind="uniqueWaypointItemHref: id"
                        >
                    <i class="icon-map-marker" style="margin-right: 10px;"></i><span data-bind="text: sale_point_name"></span>
                </a>
            </div>

            <div data-bind="uniqueWaypoinItemId: id, value: id" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div>
                        <p> <strong>Адресс:</strong> <em><span data-bind="text:sale_point_address"></span></em></p>
                        <p> <strong>Владелец:</strong> <span data-bind="text:sale_point_legal"></span></p>
                    </div>

                    <div>
                        <button class="btn btn-primary"
                                href="#" data-loading-text="Получаем координаты ..."
                                data-bind="click: $parent.search_point"
                                >Найти</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
{% endblock %}

{% block nav-brand %}
    <a class="bs-brand" href="/">h-qub.ru</a>
{% endblock %}

{% block nav-list %}
    <ul class="nav">
        {% include "navigate/dash-menu-items.html" %}

        {% if page == 'routing' %}
            <li class="divider-vertical"></li>
            <li class="active">
                <a href="/logistic/routing">Маршруты</a>
            </li>
        {% endif %}
    </ul>

    <ul class="nav pull-right">
        {% include "navigate/dash-advance-menu-items.html" %}
    </ul>
{% endblock %}


{% block content %}  {% csrf_token %}
    <div class="row">
        <div class="span10">
            <form class="form-inline"
                  method="POST"
                  id="searchForm"
                    >
                {% csrf_token %}
                <div class="control-group">
                    {#                <label class="control-label search-label">Поиск</label>#}
                    <input id="textSearch" type="text" class="input-xxlarge" style="width: 60%" placeholder="Пример: Курган, Советская 39">
                    <button type="submit" class="btn btn-primary btn-large btn-search" style="width: 100px;">Найти</button>
                </div>
                <div id="searchButtonGroup">
                    <p><input type="radio"
                              name="type_search"
                              value="address"
                              data-bind="checked: search_type">
                        По адресам</p>
                    <p><input type="radio"
                              name="type_search"
                              value="company"
                              data-bind="checked: search_type"
                            >По компаниям</p>
                </div>
            </form>
        </div>
        <div class="span2" style="float: right;">
            {% if page == 'logistic' %}
                <a href="/logistic/routing">Перейти к построение маршрутов →</a>
            {% else %}
                <a href="/logistic/">Перейти к добавлению торговых точек →</a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="span4">
            {% if page == 'routing' %}
                {# Если шаблон используются для маршрутизации то выводим список сотрудников  #}
                <div class="row">
                    <div class="span4">
                        <select id="selectEmployees" data-bind="options: employee_collection,  value : chosen_employee, optionsText: 'name'"></select>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div id="collection-board" class="span4">
                    {% if page == 'routing' %}
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#waypoint_tab" data-toggle="tab">Текущий маршрут</a></li>
{#                            <li><a href="#tab_pane" data-toggle="tab">История маршрутов</a></li>#}
                        </ul>

                        <!--Панель со списком сотрудников-->
                        <div class="tab-pane fade active in" id="waypoint_tab">
                            <div class="accordion accordion-custom"
                                 data-bind="template:{
                                        name : 'WaypointItemTemplate',
                                        foreach : chosen_route
                                            }">

                            </div>
                        </div>
                    {% else %}
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_pane" data-toggle="tab">Торговые точки</a></li>
                        </ul>

                        <!--Панель сsо списком сотрудников-->
                        <div class="tab-pane fade active in" id="tab_pane">
                            <div class="accordion accordion-custom"
                                 data-bind="template:{
                                        name : 'AccordionItemTemplate',
                                        foreach : points
                                    }">

                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="span8">
            <div id="map">

            </div>
        </div>
    </div>

    {% if page == 'routing' %}
        {% include 'logistics/modals.html' %}
    {% endif %}

{% endblock %}


{% block footer %}

{% endblock %}
