<div id="SalePointSettings" class="modal hide fade in">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Настройка точки маршрута</h3>
    </div>
    <div class="modal-body">

        <div id="statusMessage">

        </div>

        <form class="form-horizontal"
              action="/company/employee/save/"
              method="POST"
              id="salePointForm"
                >
            {% csrf_token %}
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="selectPeriod">Посещать</label>
                    <div class="controls">
                        <select  data-bind="options: selected_point.settings.period, optionsText: 'name', value: selected_point.settings.chosenPeriod"  id="selectPeriod"></select>
                        <p class="help-block">* Периодичность посещения точки</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="text_startdate">Дата начала:</label>
                    <div class="controls">
                       <input class="input-xlarge" type="text" id="text_startdate" data-bind="value: selected_point.settings.startDate">

                        <p class="help-block">* Посещать <span data-bind="text: selected_point.settings.chosenPeriod().name"></span>&nbsp;начиная с&nbsp;<span data-bind="text: selected_point.settings.startDate"></span></p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: selected_point.settings.is_active">
                        Активность
                    </label>

                    <p class="help-block">* Определяет требуется ли посещать точку</p>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="modal-footer">

        <button type="submit" id="btnSalePointAdd"
                class="btn btn-primary btn-large"
                >Добавить
        </button>
        <button class="btn btn-large"
                onclick="$('#SalePointSettings').modal('hide')"
                >
            Отмена
        </button>
    </div>
</div>