
/*Стили общего назначения*/


html {
    height: 100%;
}

* html body {
    height: 100%;
}

body{

    background: #FBFBFB;
    padding: 0;
    margin: 0;
    color: #666;
    min-height: 100%;
    height: 100%;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body[id="home"]{
    background: #FBFBFB;
    padding : 0;
    margin: 0;
}


.inline-block{
    display: inline-block;
}

a{
    color : #008EE8;
}

a:hover{
    color : #ec8526;
    text-decoration: none;
}

p{
    color : #666;
}

.ar{
    float: right;
}

.ac{
    text-align: center;
}

.mt100{
    margin-top: 100px;
}


/*Замещаем Bootstrap css*/

.hero-unit p{
    margin: 30px 0 9px 0;
    color: #333333;

}

.navbar .bs-brand {
    float: left;
    display: block;
    padding: 8px 20px 12px;
    margin-left: -20px;

    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    color: white;
}


/*Стили для ФОРМ*/

form input[type='text'], form input[type='password']{
    width: 330px;
    height: 25px;
    font-size: 20px;
}

.form-label{
    color : #666;
    font-weight: bold;
    display: block;
    float: none;
    width: auto;
    text-align: left;
    padding-top: 0;
}

.form-legend{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color : #555;
    text-shadow: 1px, 1px, 0 , white;
    float: left;
}

.actions{
    background: #f5f5f5;
    margin-top: 40px;
    padding: 17px 20px 18px 20px;
    border-top: 1px solid #DDD;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}


/*Стили для accounts/login.html*/

.login-margin-top-form{
    margin-top: 110px;
}


/*Стили для accounts/register.html*/

.register-help-block{
    display: block;
    margin-top: -10px;
    color : #999;
}

.register-actions{
    margin-left: -20px;
}

.register-alert-info{
    display: inline-block;
    margin-bottom: 30px;
}

.register-alert-error{
    width: auto;

}

.register-alert-term-info{

    background-color: #ECF9FF;
    border-color: #BBDBE0;
    color: #333;
}

.register-margin-top-form{
    margin-top: 20px;
}

legend span a{
    float:right;
    text-decoration: none;
    color: #666666;
    outline: none;
    font-size: 11px;
    font-weight: bold;
    margin-left: 10px;
}

legend span a:hover{
    float:right;
    text-decoration: none;
    color: #008ee8;
    outline: none;
    font-size: 11px;
    font-weight: bold;
}


/* Стили для страницы выхода из системы*/

.log
{
    padding: 0 30px;
    margin-top: 50px;
}

.log1
{
    text-align: left;
    padding: 5px 0;
}




/*
Стиль для footer
*/
/*footer a:link, .footer a:visited, .footer a:active {*/
    /*color: #666;*/
    /*font-weight: 300;*/
    /*margin-right: 15px;*/
    /*text-shadow: 0 1px 0 white;*/
/*}*/

