{% extends "base.html" %}

{% block advance-script %}
    <script type="text/javascript">
        var global_nav_item_id = '#nav-analitycs';
    </script>
{% endblock %}

{% block nav-brand %}
    <a class="bs-brand" href="/">h-qub.ru</a>
{% endblock %}

{% block nav-list %}
    <ul class="nav">
        {% include "navigate/dash-menu-items.html" %}
    </ul>

    <ul class="nav pull-right">
        {% include "navigate/dash-advance-menu-items.html" %}
    </ul>
{% endblock %}

{% block content %}
 <h1 style="margin-top: 5%">Раздел находится в разработке</h1>
{% endblock %}