{% extends "base.html" %}
{% block advance-head %}
    <link href="/media/css/site/fleet.css" rel="stylesheet">

{% endblock %}

{% block advance-script %}
    <script type="text/javascript">
        var global_nav_item_id = '#nav-pricing';
    </script>

{% endblock %}

{% block nav-list %}
    {% include 'navigate/main-nav.html' %}
{% endblock %}

{% block nav-brand %}
    <a href="/" class="bs-brand">h-qub.ru</a>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
    {% include 'site/footer.html' %}
{% endblock %}