<footer>
    <div class='container1'>
        <div class='row'>
            <div class='span10'>
                <div class='row'>
                    <div class='span3'>
                        <h4>Продукт</h4>
                        <ul class='unstyled'>
                            <li>
                                <a href='#'>Главная</a>
                            </li>
                            <li>
                                <a href='#'>Тур</a>
                            </li>
                            <li>
                                <a href='#'>Цены</a>
                            </li>
                            <li>
                                <a href='#'>О нас</a>
                            </li>
                        </ul>
                    </div>
                    <div class='span4'>
                        <h4>Больше</h4>
                        <ul class='unstyled'>
                            <li>
                                <a href='http://blog.fleetio.com'>Fleetio Blog</a>
                            </li>
                            <li>
                                <a href='/roi'>ROI Calculator</a>
                            </li>
                            <li>
                                <a href='/fleet-management-software'>Fleet Management Software</a>
                            </li>
                            <li>
                                <a href='/vehicle-maintenance-software'>Vehicle Maintenance Software</a>
                            </li>
                        </ul>
                    </div>
                    <div class='span3'>
                        <h4>Компания</h4>
                        <ul class='unstyled'>
                            <li>
                                <a href='#'>О нас</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='span6'>
                <h4>
                    Subscribe to our newsletter
                </h4>
                <p>
                    Hear about new features, tips & other updates.
                </p>
                <form action='http://rarestep.us1.list-manage.com/subscribe/post?u=d4a006f9816053fb9b37816ea&amp;id=61cdd86e5c' id='newsletter_list_form' method='post' name='mc-embedded-subscribe-form' target='_blank'>
                    <div class='clearfix'>
                        <input class='span4' name='EMAIL' placeholder='email address' type='email' />
                        <input class='btn' name='subscribe' type='submit' value='Subscribe' />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id='footer-floor'>
        <div class='container1'>
            <div class='row'>
                <div class='span10'>
                    <h3 id='phone'>
                        8-912-835-5152
                    </h3>
                    <p>
                        &copy; 2011 <a href="#" title="RareStep - Remarkable web-based software and websites in Birmingham, AL">RareStep, LLC</a>. All Rights Reserved.
                        &nbsp;<a href='/terms'>Terms</a>&nbsp;&&nbsp;<a href='/privacy'>Privacy</a>.
                    </p>
                </div>
                <div class='span3 ar' id='elsewhere-msg'>
                    <h4>Stay in touch:</h4>
                </div>
                <div class='span3' id='elsewhere-icons'>
                    <a class='vk' href='#'>
                        Вконтакте
                    </a>
                    <a class='twitter' href='#'>
                        Твиттер
                    </a>
                    <a class='ut' href='#'>
                        Ютуб
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>