{% extends "base.html" %}
{% block advance-head %}
    <link href="/media/css/site/fleet.css" rel="stylesheet">

{% endblock %}

{% block advance-script %}
    <script type="text/javascript">
    var global_nav_item_id = '#nav-pricing';
    </script>

{% endblock %}

{% block nav-list %}
    {% include 'navigate/main-nav.html' %}
{% endblock %}

{% block nav-brand %}
    <a href="/" class="bs-brand">h-qub.ru</a>
{% endblock %}

{% block content %}

    <div class='hero'>
        <div class='container ac'>
            <h2>Completely free for up to 5 vehicles.</h2>
            <h3>No upfront fees. Affordable pricing. No long term contract.</h3>
        </div>
    </div>


    <div class='container1 content'>
        <div class="well">
            <ol class="sequence">
                <li class="first">
                    <h3>Forever Free</h3>
                    <h2>$0<small>/month</small></h2>
                    <h6>
                        <small>up to</small> 5 Vehicles
                        <br />
                        <small>up to</small> 2 Users
                    </h6>
                </li>
                <li>
                    <h3>Forever Free</h3>
                    <h2>$0<small>/month</small></h2>
                    <h6>
                        <small>up to</small> 5 Vehicles
                        <br />
                        <small>up to</small> 2 Users
                    </h6>
                </li>
                <li>
                    <h3>Forever Free</h3>
                    <h2>$0<small>/month</small></h2>
                    <h6>
                        <small>up to</small> 5 Vehicles
                        <br />
                        <small>up to</small> 2 Users
                    </h6>
                </li>
                <li>
                    <h3>Forever Free</h3>
                    <h2>$0<small>/month</small></h2>
                    <h6>
                        <small>up to</small> 5 Vehicles
                        <br />
                        <small>up to</small> 2 Users
                    </h6>
                </li>
                <li>
                    <h3>Forever Free</h3>
                    <h2>$0<small>/month</small></h2>
                    <h6>
                        <small>up to</small> 5 Vehicles
                        <br />
                        <small>up to</small> 2 Users
                    </h6>
                </li>
            </ol>
            <div class="row">
                <div class="span9">
                    <div class='inner-well ac'>
                        <p class='ac'>
                            <a class="btn btn-primary btn-large huge" href='#' style='width:50%' title='Зарегестрируйтесь у нас )'>
                                <strong>
                                    Попробовать &rarr;
                                </strong>
                                <small>
                                    No credit card required
                                </small>
                            </a>
                        </p>
                        <p class='ac'>
                            How much can you save?
                            <a href='/roi' title='Fleet management software ROI calculator'>
                                Используйте калькулятор ) &rarr;
                            </a>
                        </p>
                    </div>
                </div>
                <div class="span6">
                    <h4>All Plans Include:</h4>
                    <ul class='pricing-includes'>
                        <li>Email support</li>
                        <li>Secure (SSL) protection</li>
                        <li>Unlimited document storage</li>
                        <li>Export your data anytime</li>
                    </ul>
                    <p style='font-size:12px'>
                        <strong>
                            Larger plans are also available.
                        </strong>
                        <a href="#">Contact us</a> for more info.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='span8'>
                <h4>Do I have to sign a long term contract?</h4>
                <p>
                    No. Fleetio is a pay-as-you-go fleet management system so you simply pay month-to-month.
                    There are no long term contracts or commitments on your part.  If you cancel, you’ll be billed
                    for the current month, but you won’t be billed again. You can also export all of your data
                    to a Microsoft Excel spreadsheet at any time.
                </p>
                <h4>Are there any upfront fees?</h4>
                <p>
                    No. There are no upfront fees at all to begin using Fleetio. You can sign up now and begin
                    using it today without even opening your wallet.
                </p>
                <h4>What are my payment options?</h4>
                <p>
                    We accept Visa, MasterCard and Discover through our online payment system. If you would like
                    to prepay for 12 months you can pay with an invoice. Please contact us at
                    <a href="#">billing@fleetio.com</a>.
                </p>
            </div>
            <div class='span8'>
                <h4>Do you offer any discounts?</h4>
                <p>
                    You can prepay for 12 months and receive a 10% discount on your purchase. If you're a very large
                    organization, we sometimes offer discounts on comprehensive bundles of products and services.
                    We believe in giving back, so we have a special program for nonprofits and educational institutions.
                    Please contact us at <a href="#">billing@fleetio.com</a>.
                </p>
                <h4>What web browsers work with Fleetio?</h4>
                <p>
                    We support Internet Explorer 7 and higher, Firefox 3 and higher, Safari 4 and higher,
                    Chrome 4 and higher.
                </p>
                <div class='well ac'>
                    <h3>
                        Questions?

                        or
                        <a href='#' title='Frequently asked questions about Fleetio'>
                            read the FAQ &rarr;
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include 'site/footer.html' %}
{% endblock %}