html, body, #container {
    width:100%;
    height:100%;
}


#company-profile-container{

    margin-left: 5px;

    width: 100%;
    height: 90%;
    float: left;
}


#dash-container{
    margin-top: 60px;
    height: 100%;
    width: 23%;
    margin-left: 10px;
    /*background-color: red;*/
    float: left;

}

#tab{
    width: 100%;
    height: 100%;
    float: left;
}

.tab-content{
    width: 85%;
    height: 100%;
}

.tab-pane{
    width: 100%;
    float: left;
}

.tab-pane-content{
    width: 80%;
    float: left;
}

.tab-dash-container{
    width: 20%;
    float: left;
}

.table-employee, .table-device{
    margin-top: 30px;
    margin-left: 10px;
    width: 80%;
}


tr{
    cursor: pointer;
}

.row-selected{
    font-weight: bold;
}

#paneCommon span
{
    float: left;
    width:200px;
    height: 25px;
    vertical-align: top;
}
