{% extends "base.html" %}


{% block advance-head %}
    <link rel="stylesheet" href="/media/css/monitoring/monitoring-style.css">
{% endblock %}

{% block advance-script %}

    <link rel="stylesheet" href="/media/css/ui-lightness/jquery-ui-1.8.18.custom.css">

    <script type="text/javascript" src="/media/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="/media/js/monitoring/monitoring.js"></script>
    <script type="text/javascript" src="/media/js/knockout-2.1.0rc.js"></script>
    <script src="http://api-maps.yandex.ru/2.0/?load=package.full&mode=debug&lang=ru-RU" type="text/javascript"></script>

    <script type="text/javascript">
        var global_nav_item_id = '#nav-monitoring';

        var map;

        $((function(){

            sizeSetup();

            /* При успешной загрузке API выполняется
          соответствующая функция */
            ymaps.ready(function () {
                map = new ymaps.Map('map', {
                    // Коэффициент масштабирования
                    zoom: 12,
                    checkZoomRange: true,
                    // Тип карты
                    type: "yandex#map",
                    center : [ymaps.geolocation.latitude, ymaps.geolocation.longitude],
                    behaviors: ["default", "scrollZoom"]
                });

                map.controls.add("mapTools")
                    // Добавление кнопки изменения масштаба
                        .add("zoomControl")
                    // Добавление списка типов карты
                        .add("typeSelector");

                bind_controls_with_events();

                //Обновлением положение всех сотрудников каждые 1000мс
                setInterval(function(){
                    update_all_employee()
                }, UPDATE_TIME);

                update_all_employee();
            });
        }));

    </script>

    <script type="text/html" id="EmployeeItemTemplate">
        <div class="accordion-group">
            <div class="accordion-heading row">
                <div class="span3" style="width:180px;">
                    <a class="accordion-toggle"
                       data-toggle="collapse"
                       data-parent="#accordionEmployee"
                       data-bind="uniqueHref: employee.id, click: $parent.select_employee"
                            >
                            <i class="icon-user" style="margin-right: 10px;"></i> <span data-bind="text: employee.full_name"></span>
                    </a>
                </div>

                <div class="status-span">
                    <div class="status-effect"
                         rel="tooltip"
                         title="Сотрудник виден на карте"
                         data-bind="if:last_update_days_count ()< 1"
                            >
                        <i class="icon-eye-open"></i>
                    </div>
                    <div class="status-effect"
                         rel="tooltip"
                         title="Сотрудник не виден на карте"
                         data-bind="if:last_update_days_count ()>= 1"
                            >
                        <i class="icon-eye-close"></i>
                    </div>
                </div>

                <div class="status-span">
                    <div
                         rel="tooltip"
                         data-bind="css: { 'status-active': last_update_days_count ()< 1, 'status-failed' : last_update_days_count() >= 1},
                         attr: {'title' : status_msg}"
                         ></div>
                </div>

                <div class="status-span">
                    <div
                         rel="tooltip"
                         title="000"
                         data-bind="css: {
                         'status-battery-0' : battery() == 0,
                         'status-battery-20' : battery() > 0 && battery() <= 20,
                         'status-battery-40' : battery() > 20 && battery() <= 50,
                         'status-battery-80' : battery() > 50 && battery() <= 80,
                         'status-battery-100' : battery() > 80
                         }, attr: {'title' : battery}"
                            ></div>
                </div>

            </div>

            <div data-bind="uniqueId: employee.id, value: employee.id" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div>
                        <p> <strong>Скорость:</strong> <span data-bind="text: speed"></span> км/ч</p>
                        <p> <strong>Направление:</strong> <span data-bind="text: curs"></span>° </p>
                        <p> <strong>Место:</strong> <em><span data-bind="text: address"></span></em></p>
                        <p> <strong>Дата сообщения:&nbsp;</strong><em><span data-bind="text: date"></span></em></p>
                    </div>

                    <div class="btn-group" style="float: right; margin-top:5px;">
                        <button class="btn  btn-show-on-map"
                                href="#"
                                data-loading-text="Загрузка ..."
                                data-bind="click: $parent.find_employee"
                                rel="tooltip" title="Позиционировать карту на местоположении сотрудника"
                                ><i class=" icon-search"></i>
                        </button>

                        <button class="btn  btn-start-monitoring"
                                href="#"
                                data-toggle="button"
                                data-bind="click: $parent.spy"
                                rel="tooltip" title="Наблюдать передвижения в реальном времени"
                                ><i class="icon icon-eye-open"></i>
                        </button>

                        <button class="btn  btn-start-monitoring"
                                href="#"
                                data-toggle="button"
                                data-bind="click: $parent.disable"
                                rel="tooltip" title="Не отображать точку на карте"
                                ><i class="icon icon-eye-close"></i>
                        </button>

                        <button class="btn btn-show-history"
                                href="#"
                                data-bind="click: $parent.show_track"
                                rel="tooltip" title="Показать трэк"
                                ><i class="icon-road"></i>
                        </button>

                        <button class="btn btn-show-history"
                                href="#"
                                data-bind="click: $parent.open_history"
                                rel="tooltip" title="Перейти к истории маршрутов"
                                ><i class="icon-calendar"></i>
                        </button>



                        <button class="btn btn-settings disabled"
                                href="#"
                                rel="tooltip" title="Настройки"
                                >
                            <i class="icon-cog"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </script>

{% endblock %}

{% block nav-brand %}
    <a class="bs-brand" href="/">h-qub.ru</a>
{% endblock %}

{% block nav-list %}
    <ul class="nav">
        {% include "navigate/dash-menu-items.html" %}
    </ul>

    <ul class="nav pull-right">
        {% include "navigate/dash-advance-menu-items.html" %}
    </ul>
{% endblock %}


{% block content %}
    {% csrf_token %}

    <div class="row">
        <div id="employee-collection" class="span4">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#employee_tab_pane" data-toggle="tab">Сотрудники</a></li>
            </ul>

            <div id="tabContent" class="tab-content">
                <!--Панель со списком сотрудников-->
                <div class="tab-pane fade active in" id="employee_tab_pane">
                    <div class="accordion accordion-custom" id="accordionEmployee"
                         data-bind="template:{
                                        name : 'EmployeeItemTemplate',
                                        foreach : employee_collection
                                            }"
                            >

                    </div>
                </div>

                <!--Панель с компаниями-->
                <div class="tab-pane fade" id="company_tab_pane"></div>
            </div>
        </div>

        <div class="span8">
            <div id="map">

            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}

{% endblock %}
