{% extends "base.html" %}

{% block nav-list %}

{% endblock %}

{% block content %}
    <div class="mt100">
    {% if key == None %}
        <p>На ваш e-mail было выслано письмо с активацией.</p>
    {% else %}
        {% if result %}
            Ваш аккаунт успешно активирован. Пожалуйста перейдите на страницу <a href="/account/login/">авторизации</a>.
        {% else %}
            По какой то причине данный ключ не может быть активирован. Попробуйте попытку позже или обратитесь в
            <a href="mailto:support@h-qub.ru">службу поддержки.</a>
        {% endif %}
    {% endif %}
    </div>

{% endblock %}