{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="span4 offset4">
            <form class="form-stacked login-margin-top-form" action="." method="post">
                {% csrf_token %}
                <fieldset>
                    <legend class="form-legend">Вход
                        <span><a href="/account/register">Регистрация </a></span>
                        <span><a href="/">Главная </a></span>
                    </legend>

                    <div class="row">
                        {% if err_message != None %}
                            <div class="alert alert-error fade in" data-dismiss="alert" style="margin-top: 20px;">
                                <a class="close">×</a>
                                <strong>{{ err_message }}</strong>
                            </div>
                        {% endif %}
                    </div>

                    <div style="padding-top: 30px; margin-left: 30px">
                        <div class="control-group">
                            <label class="control-label form-label" for="username">Эл. адрес (email)</label>
                            <div class="controls">
                                {{ form.username }}
                            </div>
                        </div>

                        <div class="clearfix">
                            <label class="control-label form-label" for="password">Пароль</label>
                            <div class="controls">
                              {{ form.password }}
                            </div>
                        </div>

                        <div class= "offset2 span3">
                            <a href="#">Забыли пароль?</a>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="row">
                            <div class="span1">
                                <input class="btn btn-large btn-primary" name="commit" type="submit" value="Войти">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        <div>
    </div>
{% endblock %}
