{% extends 'base.html' %}

{% block content %}
    <div class="row log">
        <h2>Выход из системы</h2>
        <p>Thanks for spending some quality time with the Web site today.</p>
        <ul class="quick-links log1" >
            <li><a href="/index/">На главную</a></li>
            <li><a href="/account/login/">Авторизация</a></li>
        </ul>
    </div>

{% endblock %}