{% extends "base.html" %}

{% block advance-head %}
    <link rel="stylesheet" href="/media/css/profile/profile-style.css">
    <link rel="stylesheet" href="/media/css/ui-lightness/jquery-ui-1.8.18.custom.css">
{% endblock %}

{% block advance-script %}
    <script src="http://api-maps.yandex.ru/1.1/index.xml?key=ACH4Q08BAAAAEkI9BAIA_1NKy4GKnj0oAOequIqwsygI3fMAAAAAAAAAAABM5c3YPQW4ZU0M5yimzdYWroyCXQ==" type="text/javascript"></script>
    <script type="text/javascript" src="/media/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript">
        var global_nav_item_id = '#nav-profile';

    </script>
{% endblock %}

{% block nav-brand %}
    <a class="bs-brand" href="/">h-qub.ru</a>
{% endblock %}

{% block nav-list %}
    <ul class="nav">
         {% include "navigate/dash-menu-items.html" %}

         <li class="divider-vertical"></li>
         <li class="active">
            <a href="/account/profile">Профиль</a>
         </li>
    </ul>

    <ul class="nav pull-right">
        {% include "navigate/dash-advance-menu-items.html" %}
    </ul>
{% endblock %}


{% block content %}
  <div id="profile-container">
      <div id="tab" class="tabbable tabs-left">
          <ul class="nav nav-tabs">
              <li class="active"><a href="#lA" data-toggle="tab">Общие</a></li>
              <li><a href="#lB" data-toggle="tab">Настройки 1</a></li>
              <li><a href="#lC" data-toggle="tab">Настройки 2</a></li>
          </ul>
          <div class="tab-content">
              <div class="tab-pane active" id="lA">
                  <h3>Общие</h3>
                  
                  <p>В разработке.</p>
              </div>
              <div class="tab-pane" id="lB">
                  <h3>Настройки 1</h3>

                  <p>В разработке.</p>
              </div>
              <div class="tab-pane" id="lC">
                  <h3>Настройки 2</h3>

                  <p>В разработке.</p>
              </div>
          </div>
      </div>
  </div>

   <div id="dash-container">
       <div class="well" style="padding: 8px 0;">
           <ul class="nav nav-list">
               <li class="nav-header">Посещаемость</li>
                   <li class="active"><a href="#"><i class="icon-white icon-home"></i> Супервайзеры</a></li>
                   <li><a href="#"><i class="icon-book"></i> Торговые представители</a></li>
                   <li><a href="#"><i class="icon-pencil"></i> Текущее место рассположение</a></li>
               <li class="nav-header">GPS трекеры</li>
                   <li><a href="#"><i class="icon-user"></i> Информация о работе</a></li>
                   <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                   <li class="divider"></li>
                   <li><a href="#"><i class="icon-flag"></i> Help</a></li>

           </ul>
       </div> <!-- /well -->
   </div>
{% endblock %}


{% block footer %}

{% endblock %}