{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="span5 offset4">
            <form class="form-stacked register-margin-top-form" action="." method="post">
                {% csrf_token %}
                <fieldset>
                    <legend class="form-legend">Регистрация в системе
                    <span><a href="/account/login/">Войти →</a></span>
                    </legend>

                    <div class="row">
                        {% if is_valid == None or is_valid == True %}
                            <div class="alert alert-info register-alert-info">
                                <h4 style="margin-bottom: 10px;">Создайте бесплатную учетную запись</h4>
                                <p>
                                    Вы сможете в любой момент перейти на платную рассширенную подписку.
                                </p>
                            </div>
                        {% else %}
                            <div class="alert alert-error register-alert-error">
                                <a class="close" data-dismiss="alert">×</a>
                                <h4 style="margin-bottom: 10px;">Обнаружены следующие ошибки:</h4>
                                {% if error_message == None %}
                                    <p>Проверьте что отмеченные поля заполнены правильными значениями.</p>
                                {% else %}
                                    <p>{{ error_message }}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="control-group">
                        <label class="contorl-label form-label" for="id_real_name">Ваше полное имя:</label>

                        {% if form.errors.real_name != None  %}
                            <span class="label label-important">{{ form.errors.real_name.0 }}</span>
                        {% endif %}

                        <div class="controls">
                            {{ form.real_name }}
                            <p class="register-help-block">Обязательное. Введите ваши <strong>фамилию</strong> и <strong>имя.</strong></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="contorl-label form-label" for="id_email">Эл. почта (e-mail):</label>

                        {% if form.errors.email != None  %}
                            <span class="label label-important">{{ form.errors.email.0 }}</span>
                        {% endif %}

                        <div class="controls">
                            {{ form.email }}
                            <p class="register-help-block">Обязательный. На этот адрес будет выслано письмо для активации.</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="contorl-label form-label" for="id_password">Создать пароль:</label>

                        {% if form.errors.password != None  %}
                            <span class="label label-important">{{ form.errors.password.0 }}</span>
                        {% endif %}

                        <div class="controls">
                           {{ form.password }}
                            <p class="register-help-block">Обязательный.</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="contorl-label form-label" for="id_password_repeat">Повторите пароль:</label>

                        {% if form.errors.password != None  %}
                            <span class="label label-important">{{ form.errors.password.0 }}</span>
                        {% endif %}

                        <div class="controls">
                            {{ form.password }}
                            <p class="register-help-block">Обязательный.</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="contorl-label form-label" for="id_company_name">Название организации:</label>

                        {% if form.errors.company_name != None  %}
                            <span class="label label-important">{{ form.errors.company_name.0 }}</span>
                        {% endif %}

                        <div class="controls">
                            {{ form.company_name }}
                            <p class="register-help-block">Обязательный.</p>
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label form-label" for="id_company_phone">Контактный телефон:</label>

                        {% if form.errors.company_phone != None  %}
                            <span class="label label-important">{{ form.errors.company_phone.0 }}</span>
                        {% endif %}

                        <div class="controls">
                            {{ form.company_phone }}
                            <p class="register-help-block">Контактный телефон. Необязательный.</p>
                        </div>
                    </div>


{#                    <div class="control-group">#}
{#                        <label class="control-label form-label" for="id_promo_code">Промо код:</label>#}
{##}
{#                        {% if form.errors.promo_code != None  %}#}
{#                            <span class="label label-important">{{ form.errors.promo_code.0}}</span>#}
{#                        {% endif %}#}
{##}
{#                        <div class="controls">#}
{#                            {{ form.promo_code }}#}
{#                            <p class="register-help-block">Проект находится в стадии разработки. Регистрация ограничена.</p>#}
{#                        </div>#}
{#                    </div>#}

                    <div class="actions register-actions">
                        <div class="alert alert-info register-alert-term-info">Зарегистрировавшись, вы принимаете <strong>наши</strong>
                            <a href="#">условия соглашения</a> и <a href="#">политики безопасности</a>.</div>
                        <input class="btn btn-large btn-primary" name="commit" type="submit" value="Зарегистрироваться">
                    </div>


                    <p class="ar">Уже есть учетная запись? <a href="account/login/">Войдите здесь →</a></p>
                </fieldset>
            </form>

            <p class="ac">
                <small>
                    Нужна помощь?
                    <a href="#" rel="facebox">Тех. поддержка</a>
                    &nbsp;
                    |
                    &nbsp;
                    <a href="#">Выслать подтверждение инструкции здесь →</a>
                </small>
            </p>
        </div>
    </div>
{% endblock %}