#map
{
    width: 0;/*950px;*/
    height: 0;/*590px;*/
    padding: 2px 2px 2px 2px;
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);  /*Для Firefox*/
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);  /*Для Safari и Chrome*/
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);  /*Параметры тени*/
    display: none;
}

#datepicker-container p img
{
    margin-left: 3px;
}

#employee-collection
{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 0; /*532px;*/
}

.custom-input-xlarge
{
    width: 290px;
    height: 24px;
    font-size: 20px;
}