html, body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin: 0;
   padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol, ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}
html {
    font-size: 100%;
    overflow-y: scroll;
}
audio:not([controls]) {
    display: none;
}

img {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
}
html, body {
    background-color: #FFFFFF;
}
body {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
}
.container1 {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}
.container1:before, .container:after {
    content: "";
    display: table;
}
.container1:after {
    clear: both;
}
.container1-fluid {
    min-width: 940px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.container1-fluid:before, .container-fluid:after {
    content: "";
    display: table;
}
.container1-fluid:after {
    clear: both;
}
.container1-fluid > .sidebar {
    float: left;
    width: 220px;
}
.container1-fluid > .content {
    margin-left: 240px;
}
.container
{
    margin-left: auto;
    margin-right: auto;
}
a {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: #008EE8;
    font-weight: inherit;
    line-height: inherit;
}
a:hover {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: underline;
    -moz-text-decoration-style: solid;
    color: #EC8526;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.hide {
    display: none;
}
.show {
    display: block;
}
[class*="span"] {
    display: inline;
    float: left;
    margin-left: 20px;
}
.span1 {
    width: 40px;
}
.span2 {
    width: 100px;
}
.span3 {
    width: 160px;
}
.span4 {
    width: 220px;
}
.span5 {
    width: 280px;
}
.span6 {
    width: 340px;
}
.span7 {
    width: 400px;
}
.span8 {
    width: 460px;
}
.span9 {
    width: 520px;
}
.span10 {
    width: 580px;
}
.span11 {
    width: 640px;
}
.span12 {
    width: 700px;
}
.span13 {
    width: 760px;
}
.span14 {
    width: 820px;
}
.span15 {
    width: 880px;
}
.span16 {
    width: 940px;
}
.span17 {
    width: 1000px;
}
.span18 {
    width: 1060px;
}
.span19 {
    width: 1120px;
}
.span20 {
    width: 1180px;
}
.span21 {
    width: 1240px;
}
.span22 {
    width: 1300px;
}
.span23 {
    width: 1360px;
}
.span24 {
    width: 1420px;
}
.offset1 {
    margin-left: 80px;
}
.offset2 {
    margin-left: 140px;
}
.offset3 {
    margin-left: 200px;
}
.offset4 {
    margin-left: 260px;
}
.offset5 {
    margin-left: 320px;
}
.offset6 {
    margin-left: 380px;
}
.offset7 {
    margin-left: 440px;
}
.offset8 {
    margin-left: 500px;
}
.offset9 {
    margin-left: 560px;
}
.offset10 {
    margin-left: 620px;
}
.offset11 {
    margin-left: 680px;
}
.offset12 {
    margin-left: 740px;
}
.span-one-third {
    width: 300px;
}
.span-two-thirds {
    width: 620px;
}
.offset-one-third {
    margin-left: 340px;
}
.offset-two-thirds {
    margin-left: 660px;
}
p {
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-weight: bold;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #999999;
}
h1 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
}
h2 {
    font-size: 24px;
    line-height: 40px;
}
h2 small {
    font-size: 14px;
}
h3, h4, h5, h6 {
    line-height: 40px;
}
h3 {
    font-size: 18px;
}
h3 small {
    font-size: 14px;
}
h4 {
    font-size: 16px;
}
h4 small {
    font-size: 12px;
}
h5 {
    font-size: 14px;
}
h6 {
    color: #999999;
    font-size: 13px;
    text-transform: uppercase;
}
ul, ol {
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 0;
    margin-top: 0;
}

ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
}
ol {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: decimal;
}
li {
    color: #555555;
    line-height: 20px;
}
ul.unstyled {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-left: 0;
}
dl {
    margin-bottom: 20px;
}
dl dt, dl dd {
    line-height: 20px;
}
dl dt {
    font-weight: bold;
}
dl dd {
    margin-left: 10px;
}

address {
    display: block;
    line-height: 20px;
    margin-bottom: 20px;
}
.hero-unit {
    background-color: #F5F5F5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: 30px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top:20px;
}
.hero-unit h1 {
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
}
.hero-unit p {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
}

p, ul, ol, dl {
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1, h2, h3 {
    line-height: 35px;
}
h4, h5, h6 {
    line-height: 24px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.ac {
    text-align: center;
}
.ar {
    text-align: right;
}
.hero {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F0F0F0;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #E1E1E1;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #EBEBEB;
    border-top-style: solid;
    border-top-width: 3px;
    margin-bottom: 30px;
    padding-bottom: 31px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
}
.hero h1, .hero h2, .hero h3 {
    color: #454545;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
}
.hero h1 {
    font-size: 45px;
}
.hero h2 {
    font-size: 32px;
}
#home .hero h2 {
    font-size: 40px;
}
.hero h3 {
    color: #999999;
    font-size: 24px;
    margin-top: 10px;
}
.hero p {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
}
.hero .big-media {
    margin-top: 20px;
}
.content p, .modal-body p, .content ul, .modal-body ul, .content ol, .modal-body ol, .content dl, .modal-body dl {
    color: #454545;
    font-size: 15px;
}
.lead {
    color: #454545;
}
.popover p, .popover ul {
    font-size: 13px;
}
.btn small {
    display: block;
    margin-top: 3px;
}
.btn.huge {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 18px;
    line-height: normal;
    padding-bottom: 15px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 15px;
 }

.inner-well {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FCFCFC;
    border-bottom-color: #DDDDDD;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #DDDDDD;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #DDDDDD;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #DDDDDD;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    min-height: 20px;
    padding-bottom: 19px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 19px;
    border: 1px solid rgb(221, 221, 221);
}
.roi h4 {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    line-height: 34px;
    padding-left: 42px;
}
.roi #roi-step-2 {
    background-position: 0 -41px;
}
ol.sequence {
    background-color: #FCFCFC;
    border-bottom-color: #DDDDDD;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #DDDDDD;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #DDDDDD;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #DDDDDD;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-left: 0;
    border: 1px solid rgb(221, 221, 221);
}
ol.sequence:before, ol.sequence:after {
    content: "";
    display: table;
}
ol.sequence:after {
    clear: both;
}
ol.sequence li {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #DDDDDD;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: dashed;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    float: left;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    width: 158px;
    border-left: 1px dashed rgb(221, 221, 221);
}
ol.sequence li.first {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
}
ol.sequence li.pointer:before {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    content: "";
    display: inline-block;
    height: 31px;
    position: absolute;
    right: -15px;
    top: 41px;
    width: 30px;
    z-index: 1;
}
ol.sequence li .range {
    color: #DDDDDD;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1;
    margin-top: 10px;
}
ol.sequence li h6 small {
    font-size: 8px;
}

footer {
    border-top-color: #EEEEEE;
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 19px;
    padding-top: 19px;
}

.modal-footer {
    background-color: #F5F5F5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-color: #DDDDDD;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 0 #FFFFFF inset;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 14px;
}
.modal-footer:before, .modal-footer:after {
    content: "";
    display: table;
}
.modal-footer:after {
    clear: both;
}
.modal-footer .btn {
    float: right;
    margin-left: 5px;
}
footer {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #252525;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
}
footer h4 {
    color: #999999;
}
footer p {
    color: #999999;
}
footer a {
    color: #FFFFFF;
}
footer a:hover {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: underline;
    -moz-text-decoration-style: solid;
    color: #FFFFFF;
}
footer #footer-floor {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #1B1B1B;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
footer #footer-floor h3, footer #footer-floor h4 {
    color: #FFFFFF;
}
footer #footer-floor #elsewhere-msg {
    padding-top: 18px;
}
footer #footer-floor #elsewhere-icons {
    padding-top: 13px;
}
footer #footer-floor #elsewhere-icons a {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: left;
    height: 35px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 5px;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: -900px;
    width: 35px;
}
footer #footer-floor #elsewhere-icons a.facebook {
    background-position: -35px 0;
}
footer #footer-floor #elsewhere-icons a.blog {
    background-position: -70px 0;
}

form {
    margin-bottom: 20px;
}

input.span4, textarea.span4, select.span4 {
    display: inline-block;
    float: none;
    width: 210px;
    margin-left: 0px;
    margin-bottom: 0px;
}

input[type="button"], input[type="reset"], input[type="submit"] {
    width: auto;
    height: auto;
}

.btn
{
    padding: 5px 14px 6px;
}


.vk
{
    background-image: url(/media/img/icon5.jpg);

}

.twitter
{
    background-image: url(/media/img/icon2.jpg);
}
.ut
{
    background-image: url(/media/img/icon4.jpg);
}

#indexInfo h3
{
    font-size: 18px;
    font-weight: bold;
    color: rgb(51, 51, 51);
}
#indexInfo p
{
    color: rgb(69, 69, 69);
    font-size: 15px;
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
    margin-bottom: 10px;
}
#pic1
{
    background-image: url(/media/img/briefcase_48.png);
}

#pic2
{
    background-image: url(/media/img/statistics_48.png);
}

#pic3
{
    background-image: url(/media/img/pencil_48.png);
}

#pic4
{
    background-image: url(/media/img/gear_48.png);
}


#indexInfo .iconInfo {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 50px;
    margin-top: 12px;
    width: 50px;
}

p.marketing-byline
{
    padding-bottom: 20px;
}

#home .hero-unit h2 {
    font-size: 40px;
}

#home .carousel
{
    margin-top: 20px;
    text-align: left;
}

#myButtonTry
{
    width: 180px;
}

#myCarousel h4
{
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    margin: 0;
    text-rendering: optimizelegibility;
}

#myCarousel p
{
    margin: 0 0 9px;
    font-size: 13px;


}