
html, body, #container {
    width:100%;
    height:100%;
   }


#profile-container{
    margin-left: 5px;

    width: 75%;
    height: 90%;
    float: left;
}

#dash-container{
    height: 100%;
    width: 23%;
    margin-left: 10px;
    /*background-color: red;*/
    float: left;

}