<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Сотрудники</title>

    <script type="text/javascript" src="/media/js/bootstrap/jquery.js"></script>
    
    <script type="text/javascript">
        var last_selected_row;
        var cb_selected_row;

        $(function(){
            $('tr').bind('click', function(){
                var class_name = 'row-selected';

                $(last_selected_row).toggleClass(class_name);

                $(this).toggleClass(class_name);
                last_selected_row = $(this);
            });

            $('#btn_selected_employee').bind('click', function(event){
               event.preventDefault();
                if(!last_selected_row)
                {
                    alert('Выберите сотрудника.');
                    return;
                }

                var querySelectedRow = 'tr.row-selected';
                var getValue = function(field){
                    return $($(querySelectedRow + " td[name='td_employee_" + field + "']")[0]).html();
                };

                var first_name = getValue('first_name');
                var last_name = getValue('last_name');
                var third_name = getValue('third_name');

                var employee_id = $('tr.row-selected td input').val();

                cb_selected_row(employee_id, last_name + ' ' + first_name + ' ' + third_name);
                self.close();
            });
        });
    </script>
    
    <link rel="stylesheet" href="/media/css/bootstrap.min.css">
    <style type="text/css">
        html,body{
            width: 100%;
            height: 100%;
        }

        #EmployeeView{
            top:70%;
            left: 50%;
        }
        
        tr{
            cursor: pointer;
        }

        .row-selected{
            font-weight: bold;
        }
    </style>
</head>
<body>
    <!--Работа с сотрудником-->
    <div id="EmployeeView" class="modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Выберите сотрудника</h3>
        </div>
        <div class="modal-body">
    
            <div id="employeeStatusMessage">
    
            </div>
    
            {% include 'company/table_employee.html' %}
        </div>

        <div class="modal-footer">
            <a id="btn_selected_employee" href="#" class="btn btn-primary btn-large" style="float: right;">Выбрать</a>
        </div>
  
    </div>
</body>
</html>