<!--Работа с сотрудником-->
<div id="EmployeeView" class="modal hide fade in">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Добавление нового сотрудника</h3>
    </div>
    <div class="modal-body">

        <div id="employeeStatusMessage">

        </div>

       <form class="form-horizontal"
             action="/company/employee/save/"
             method="POST"
             id="employeeForm"
               >
           {% csrf_token %}
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="employee_first_name">Имя:</label>
                    <div class="controls">
                        <input type="text" class="input-xxlarge" id="employee_first_name" name="employee_first_name">
                        <p class="help-block">* Обязательное поле</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="employee_last_name">Фамилия:</label>
                    <div class="controls">
                        <input type="text" class="input-xxlarge" id="employee_last_name" name="employee_last_name">
                        <p class="help-block">* Обязательное поле</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="employee_third_name">Отчество:</label>
                    <div class="controls">
                        <input type="text" class="input-xxlarge" id="employee_third_name" name="employee_third_name">
                        <p class="help-block">* Обязательное поле</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="employee_phone">Телефон:</label>
                    <div class="controls">
                        <input type="text" class="input-xxlarge" id="employee_phone" name="employee_phone">
                        <p class="help-block"></p>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="employee_post">Должность:</label>
                    <div class="controls">
                        <select id="employee_post" class="disabled" disabled>
                            <option>Менеджер</option>
                            <option>Агент</option>
                            <option>Руководитель</option>
                        </select>
                    </div>
                </div>

                <input type="hidden" id="employee_id" name="employee_id">

                <div class="form-actions">
                    <button type="submit" id="employee_submit" class="btn btn-primary btn-large" style="margin-left: 70%">Сохранить</button>
                </div>
            </fieldset>
       </form>
    </div>
</div>

<!--Работа с устройствами-->
<div id="DeviceView" class="modal hide fade in">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Добавление нового сотрудника</h3>
    </div>
    <div class="modal-body">

        <div id="deviceStatusMessage">

        </div>

        <form class="form-horizontal"
              action="/company/device/save/"
              method="POST"
              id="deviceForm"
                >
            {% csrf_token %}
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="device_imei">IMEI:</label>
                    <div class="controls">
                        <input type="text" class="input-xxlarge" id="device_imei" name="device_imei">
                        <p class="help-block">* Обязательное поле</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="device_model">Модель:</label>
                    <div class="controls">
                        <input type="text" class="input-xxlarge" id="device_model" name="device_model">
                        <p class="help-block">* Обязательное поле</p>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="device_owned">Сотрудник:</label>
                    <div class="controls">
                        <input type="text" id="device_owned" readonly="True">
                        <input type="hidden" id="device_owned_id" name="device_owned_id">
                        <a href="#" id="select_device_owned"class="btn" style="float: right; margin-top: 5px; margin-right: 10%;">Выбрать</a>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="device_active">Активен</label>
                    <div class="controls">
                        <input type="checkbox" id="device_active" name="device_active">
                    </div>
                </div>

                <input type="hidden" id="device_id" name="device_id">

                <div class="form-actions">
                    <button type="submit" id="device_submit" class="btn btn-primary btn-large" style="margin-left: 70%">Сохранить</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>