{% extends "base.html" %}

{% block advance-head %}
    <link rel="stylesheet" href="/media/css/company/profile-style.css">
{% endblock %}

{% block advance-script %}
    <script type="text/javascript" src="/media/js/knockout-2.1.0rc.js"></script>
    <script type="text/javascript" src="/media/js/company/profile.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript">
        var global_nav_item_id = '#nav-company';

        $(function(){
            setup();
        });

    </script>
{% endblock %}

{% block nav-list %}
    <ul class="nav">
        {% include "navigate/dash-menu-items.html" %}

        <li class="divider-vertical"></li>
        <li class="active">
            <a href="/company/profile">Компания</a>
        </li>
    </ul>

    <ul class="nav pull-right">
        {% include "navigate/dash-advance-menu-items.html" %}
    </ul>
{% endblock %}

{% block content %}
    <div id="company-profile-container">
        <div id="tab" class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#paneEmployee" data-toggle="tab">Сотрудники</a></li>
                <li><a href="#paneDevices" data-toggle="tab">GPS приборы</a></li>
                <li><a href="#paneCommon" data-toggle="tab">О компании</a></li>
            </ul>

            <div class="tab-content">

                <!--СОТРУДНИКИ-->
                <div class="tab-pane active" id="paneEmployee">
                    <div class="tab-pane-content">
                        <h1>Сотрудники</h1>

                        <div id="tableEmployee">
                            {% include 'company/table_employee.html' %}
                        </div>
                    </div>

                    <div class="tab-dash-container">
                        <div class="well" style="padding: 8px 0;">
                            <ul class="nav nav-list">
                                <li class="nav-header">Сотрудник</li>
                                    <li><a id="create_employee_link" href="#"><i class="icon-plus"></i>Новый сотрудник</a></li>
                                    <li><a id="edit_employee_link" href="#"><i class="icon-edit"></i> Редактировать выбранного</a></li>
                                    <li><a id="remove_employee_link" href="#"><i class="icon-minus"></i> Удалить выбранного</a></li>
                                <li class="nav-header">Управление</li>
                                    <li><a id="refresh_employee_link" href="#"><i class="icon-repeat"></i> Обновить данные</a></li>
                                    <li><a href="#"><i class="icon-chevron-right"></i> Следующие 5 страниц</a></li>
                                    <li><a href="#"><i class="icon-chevron-left"></i> Предыдущие 5 страниц</a></li>
                                    <li class="divider"></li>
{#                                <li class="nav-header">Дополнительно</li>#}
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- GPS-Трекеры -->
                <div class="tab-pane" id="paneDevices">
                    <div class="tab-pane-content">
                        <h1>GPS приборы</h1>

                        <table class="table table-condensed table-striped table-device">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>imei</th>
                                    <th>Модель</th>
                                    <th>Активность</th>
                                </tr>
                            </thead>

                            {% for device in device_list %}
                                <tr>
                                    <td name="td_device_id">
                                        <input type="hidden" value="{{ device.id }}">{{ forloop.counter }}
                                        <input type="hidden" value="{{ device.owned }}" name="td_device_owned_id">
                                        <input type="hidden" value="{{ device.owned_name }}" name="td_device_owned_name">
                                    </td>
                                    <td name="td_device_imei">{{ device.imei }}</td>
                                    <td name="td_device_model">{{ device.model }}</td>
                                    <td name="td_device_is_active">
                                        {% if device.is_active %}Включен{% else %}Выключен{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div class="tab-dash-container">
                        <div class="well" style="padding: 8px 0;">
                            <ul class="nav nav-list">
                                <li class="nav-header">Устройства</li>
                                    <li><a id="create_device_link" href="#"><i class="icon-plus"></i> Новое устройство</a></li>
                                    <li><a id="edit_device_link" href="#"><i class="icon-edit"></i> Редактировать устройство</a></li>
                                    <li><a id="remove_device_link" href="#"><i class="icon-minus"></i> Удалить устройство</a></li>
                                <li class="nav-header">Управление</li>
                                    <li><a id="refresh_device_link" href="#"><i class="icon-repeat"></i> Обновить данные</a></li>
                                    <li><a href="#"><i class="icon-chevron-right"></i> Следующие 5 страниц</a></li>
                                    <li><a href="#"><i class="icon-chevron-left"></i> Предыдущие 5 страниц</a></li>
                                <li class="divider"></li>
{#                                <li class="nav-header">Дополнительно</li>#}
{#                                    <li><a href="#"><i class="icon-user"></i> Информация о работе</a></li>#}
{#                                    <li><a href="#"><i class="icon-cog"></i> Показать на карте</a></li>#}
{#                                    <li class="divider"></li>#}
                            </ul>
                        </div> <!-- /well -->
                    </div>
                </div>

                <!--О Компании-->
                <div class="tab-pane" id="paneCommon">
                    <div class="tab-pane-content">
                        <h1>{{ user.company.name}}</h1>
                        <form action=".">
                        <div>
                            <span>Полное название организации:</span>
                            <div><input id="id_company_name" type="text"   maxlength="512" /></div>
                        </div>
                        <div>  <span>ФИО руководителя:</span>
                                <div><input id="id_leader_name" type="text"  maxlength="512" /></div>
                        </div>
                        <div>
                            <span>Юридический адрес:</span>
                            <div><input id="id_company_address" type="text" /></div>
                        </div>
                        <div>
                            <span>Телефон:</span>
                            <div><input id="id_company_telephone" type="text"  maxlength="512" /></div>
                        </div>
                        <div>
                                <span>Контактное лицо:</span>
                                <div><input id="id_company_contact" type="text"  maxlength="512" /></div>
                        </div>
                        <div >
                                <h6>Рассчетные данные</h6>
                                <span>ИНН:</span>
                                <div><input  type="text"  maxlength="512" /></div>
                                <span>КПП:</span>
                                <div><input  type="text"  maxlength="512" /></div>
                                <span>Банковский счет:</span>
                                <div><input  type="text"  maxlength="512" /></div>
                        </div>

                        <a href="#" class="btn btn-primary btn-large" >Отправить</a>
                        <a href="#" class="btn btn-primary btn-large" >Очистить</a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "company/modals.html" %}
{% endblock %}


{% block nav-brand %}
    <a class="bs-brand" href="/">h-qub.ru</a>
{% endblock %}

{% block footer %}

{% endblock %}