<table class="table table-condensed table-striped table-employee">
    <thead>
    <tr>
        <th>#</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Телефон</th>
        <th>Эл. почта</th>
    </tr>
    </thead>

    <tbody>
    {% for emp in employee %}
        <tr>
            <td><input type="hidden" value="{{ emp.id }}"> {{ forloop.counter }}</td>
            <td name='td_employee_first_name'>{{ emp.fio.first_name }}</td>
            <td name='td_employee_last_name'>{{ emp.fio.last_name }}</td>
            <td name='td_employee_third_name'>{{ emp.fio.third_name }}</td>
            <td name='td_employee_phone'>{{ emp.contact.phone }}</td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>

    <tfoot>
    <tr>
        <td colspan="6">
            <div class="pagination" style="display: none">
                <ul>
                    <li><a href="#">←</a></li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">→</a></li>
                </ul>
            </div>
        </td>
    </tr>
    </tfoot>
</table>