
#map{
    width: 0;
    height: 0;
    float:left;
    padding: 2px 2px 2px 2px;
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);  /*Для Firefox*/
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);  /*Для Safari и Chrome*/
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);  /*Параметры тени*/
    display: none;
}

.accordion-custom{
    overflow-y: scroll;
    height: 533px;
}

.btn {
    height: 25px;
}

.btn-group{
    margin-bottom: 3px;
}

.status-span
{
    width: 25px;
    margin-left: 5px;
    padding-top: 3px;
}

.status-active, .status-failed{
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
}

.status-active {
    background: url(/media/img/status/status-on.png);
}

.status-failed{
    background: url(/media/img/status/status-off.png);
}

.status-effect{
    margin-top: 5px;
    margin-left: 5px;

}

 .status-battery-0,
 .status-battery-20,
 .status-battery-40,
 .status-battery-80,
 .status-battery-100{
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
}

.status-battery-0{
    background: url(/media/img/battery/Status-battery-missing-icon.png);
}

.status-battery-20{
    background: url(/media/img/battery/Status-battery-020-icon.png);
}

.status-battery-40{
    background: url(/media/img/battery/Status-battery-040-icon.png);
}

.status-battery-80{
    background: url(/media/img/battery/Status-battery-080-icon.png);
}

.status-battery-100{
    background: url(/media/img/battery/Status-battery-100-icon.png);
}
