<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="h-qub company">
    <title>
        Система управления агентами по продажам
    </title>

    <!--Bootstrap-->
    <script type="text/javascript" src="/media/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/media/js/bootstrap/jquery.js"></script>
    <script type="text/javascript" src="/media/js/bootstrap/bootstrap-carousel.js"></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->



    <link href="/media/css/bootstrap.min.css" rel="stylesheet">
    <link href="/media/css/docs.css" rel="stylesheet">
    <link href="/media/css/style.css" rel="stylesheet">


    {% block advance-head %}

    {% endblock %}

    {% block advance-script %}

    {% endblock %}

</head>
<body id="{{ id_body }}" class="claro">

    {% block navigate %}
        <div class="navbar">
            <div class="navbar-inner">

                <div class="container">

                    {% block nav-brand %}
                        <a class="brand" href="/">h-qub</a>
                    {% endblock %}

                    {% block nav-list %}

                    {% endblock %}

                </div>
            </div>
        </div>
    {% endblock %}

    <div class="container" id="container">


        {% block content %}



        {% endblock %}

        {% block footer %}
            <footer class="footer">
                {% block footer-content %}
                    <p>
                        <a href="/about/">О нас</a>
                        <a href="mailto:support@h-qub.ru">Обратная связь</a>
                        <a href="http://twitter.com/hqubru">@h-qub.ru</a>
                    </p>
                {% endblock %}
            </footer>
{#            <div class="footer">#}
{#                {% block footer-content %}#}
{#                    <p>#}
{#                        <a href="/about/">О нас</a>#}
{#                        <a href="mailto:support@h-qub.ru">Обратная связь</a>#}
{#                        <a href="http://twitter.com/hqubru">@h-qub.ru</a>#}
{#                    </p>#}
{#                {% endblock %}#}
{#            </div>#}
        {% endblock %}

    </div>

    {% block bootstrap %}
    <!-- Le javascript
   ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="/media/js/bootstrap/bootstrap-alert.js"></script>
        <script type="text/javascript" src="/media/js/bootstrap/bootstrap-tab.js"></script>
        <script type="text/javascript" src="/media/js/bootstrap/bootstrap-modal.js"></script>
        <script type="text/javascript" src="/media/js/bootstrap/bootstrap-popover.js"></script>

        <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/widgets.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>

        <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js//bootstrap-button.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
{#        <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>#}
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/application.js"></script>

        <script type="text/javascript">
            var nav_item = '{{ item }}';
            $(nav_item ? nav_item : global_nav_item_id).addClass('active');
        </script>
    {% endblock %}
</body>
</html>