{% extends "base.html" %}
{% load set_var %}

{% block advance-script %}

{% endblock %}

{% block nav-list %}
   {% include 'navigate/main-nav.html' %}
{% endblock %}

{% block nav-brand %}
    <a href="/" class="bs-brand">h-qub.ru</a>
{% endblock %}

{% block content %}
    <div class="hero-unit">
        <h1>Сайт находится в разработке.</h1>
        <p>
            <a href="/" class="btn btn-primary btn-large">На главную</a>
        </p>
    </div>
    
{% endblock %}