{% extends "base.html" %}

{% block advance-script %}

    <script type="text/javascript">
        var global_nav_item_id = '#nav-main';

        $('.carousel').carousel({
            interval: 1000
        })
    </script>

{% endblock %}

{% block advance-head %}
    <link href="/media/css/site/fleet.css" rel="stylesheet">

{% endblock %}

{% block content %}


    <div id="home" class="hero ac">
        <div class="container1">
            <h2>
                Мониторинг торговых агентов
            </h2>
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="active item">
                        <img src="/media/img/monitoring2.jpg" alt="">
                        <div class="carousel-caption">
                        <h4>Первая картинка</h4>
                        <p>Привет я первая картинка</p>
                    </div>
                    </div>
                    <div class="item">
                        <img src="/media/img/logistic.jpg" alt="">
                        <div class="carousel-caption">
                        <h4>Вторая картинка</h4>
                        <p>Привет я вторая картинка</p>
                    </div>
                    </div>
                    <div class="item">
                        <img src="/media/img/history_and_waypoint.jpg" alt="">
                        <div class="carousel-caption">
                            <h4>Третья картинка</h4>
                            <p>Привет я третья картинка</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>

    </div>
    <div class="container1">
        <div class="row">
            <div class="span12">
            <h1>Бла бла бла тут написана какая то фигня бла бла бла купите купите наш сервис</h1>
            </div>
            <div class="span4">
                <p class="ac">
                <a class="btn btn-success btn-large huge" id="myButtonTry"
                   href="/account/register/">Попробовать >></a>
                </p>
                <h3 class="ac" style="line-height: 1;">
                    100% Бесплатно
                    <br>
                    <small> для 1 агента </small>
                </h3>
            </div>
        </div>
        <hr>
    </div>

<div class="container1">
    <div class="marketing" id="indexInfo">
        <h1>Наверное тут описание всяких функций</h1>
        <p class="marketing-byline">Нужны причины пользования нашим сервисом? смотри ниже</p>
        <div class="row">
            <div class="span8">
                <div class="row">
                    <div class="span1" >
                        <div class="iconInfo" id="pic1"></div>
                    </div>
                    <div class="span7">
                        <h3>Первая причина:</h3>
                        <p>Nullam rhoncus ipsum ut ante molestie quis viverra purus auctor. Mauris ac sem ligula, sit amet tincidunt turpis. In sodales tristique risus, eu pellentesque ante interdum at. Nullam turpis ipsum, lacinia luctus scelerisque nec, blandit nec magna. Suspendisse ac sem sed metus rutrum posuere. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                        <div class="iconInfo" id="pic2"></div>
                    </div>
                    <div class="span7">
                        <h3>Первая причина:</h3>
                        <p>Nullam rhoncus ipsum ut ante molestie quis viverra purus auctor. Mauris ac sem ligula, sit amet tincidunt turpis. In sodales tristique risus, eu pellentesque ante interdum at. Nullam turpis ipsum, lacinia luctus scelerisque nec, blandit nec magna. Suspendisse ac sem sed metus rutrum posuere. </p>
                    </div>
                </div>
            </div>
            <div class="span8">
                <div class="row">
                    <div class="span1">
                        <div class="iconInfo" id="pic3"></div>
                    </div>
                    <div class="span7">
                        <h3>Первая причина:</h3>
                        <p>Nullam rhoncus ipsum ut ante molestie quis viverra purus auctor. Mauris ac sem ligula, sit amet tincidunt turpis. In sodales tristique risus, eu pellentesque ante interdum at. Nullam turpis ipsum, lacinia luctus scelerisque nec, blandit nec magna. Suspendisse ac sem sed metus rutrum posuere. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1">
                        <div class="iconInfo" id="pic4"></div>
                    </div>
                    <div class="span7">
                        <h3>Первая причина:</h3>
                        <p>Nullam rhoncus ipsum ut ante molestie quis viverra purus auctor. Mauris ac sem ligula, sit amet tincidunt turpis. In sodales tristique risus, eu pellentesque ante interdum at. Nullam turpis ipsum, lacinia luctus scelerisque nec, blandit nec magna. Suspendisse ac sem sed metus rutrum posuere. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block nav-brand %}
    <a href="/" class="bs-brand">h-qub.ru</a>
{% endblock %}

{% block nav-list %}
    {% include 'navigate/main-nav.html' %}
{% endblock %}

{% block footer %}
    {% include 'site/footer.html' %}
{% endblock %}

