{% extends "base.html" %}

{% block advance-script %}
    <script type="text/javascript" src="/media/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="/media/js/date.js"></script>
    <script src="http://api-maps.yandex.ru/2.0/?load=package.full&mode=debug&lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript" src="/media/js/history/history.js"></script>
    <script type="text/javascript" src="/media/js/knockout-2.1.0rc.js"></script>
{#    <script type="text/javascript" src="/media/js/jquery.stickr.min.js"></script>#}
    <script type="text/javascript">
        var global_nav_item_id = '#nav-history';

        $((function(){

            sizeSetup();

            /* При успешной загрузке API выполняется
             соответствующая функция */
            ymaps.ready(function () {
                map = new ymaps.Map('map', {
                    // Коэффициент масштабирования
                    zoom: 13,
                    // Тип карты
                    type: "yandex#map",
                    center : [ymaps.geolocation.latitude, ymaps.geolocation.longitude],
                    behaviors: ["default", "scrollZoom"]
                });

                map.controls.add("mapTools")
                    // Добавление кнопки изменения масштаба
                        .add("zoomControl")
                    // Добавление списка типов карты
                        .add("typeSelector");


                bind_controls_with_events();
            });
        }));
    </script>
{% endblock %}

{% block advance-head %}
    <link rel="stylesheet" href="/media/controls/jquery-bootstrap/css/custom-theme/jquery-ui-1.8.16.custom.css">
    <link rel="stylesheet" href="/media/css/history/index.css">
{% endblock %}

{% block nav-brand %}
    <a class="bs-brand" href="/">h-qub.ru</a>
{% endblock %}

{% block nav-list %}
    <ul class="nav">
        {% include "navigate/dash-menu-items.html" %}
    </ul>

    <ul class="nav pull-right">
        {% include "navigate/dash-advance-menu-items.html" %}
    </ul>
{% endblock %}

{% block content %}
    {% csrf_token %}

    <div class="row">
        <div id="dash-left" class="span4">
            <div id="datepicker-container">
               <input class="custom-input-xlarge" type="text" id="datepicker" data-bind="value: current_date">
            </div>

            <div  class="well" style="padding: 8px 0;">
                <ul  id="employee-collection" class="nav nav-list">
                    <li class="nav-header">Сотрудники</li>
                    {% for employee in employee_list %}
                        <li class="{% if selected_employee == employee.id %}
                                           emp_item active
                                        {% else %}
                                           emp_item
                                        {% endif %}
                    ">
                            <a href="#"><i class="icon-user"></i> {{ employee.full_name }}<input type="hidden" value="{{ employee.id }}"></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="span8">
            <div id="map">

            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}
