<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.fio.last_name }} {{ user.fio.first_name }}
        <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
        <li>
            <a href="/monitoring" >Мониторинг</a>
        </li>

        <li>
            <a href="/history" >История</a>
        </li>

        <li class="divider">

        </li>

        <li>
            <a href="/company/profile/">Компания</a>
        </li>
        
        <li>
            <a href="/account/profile/" >Профиль</a>
        </li>

        <li class="divider">

        </li>

        <li>
            <a href="/account/logout/">Выйти</a>
        </li>
    </ul>
</li>

<li>
    <a href="#">Помощь</a>
</li>
