<li id="nav-monitoring">
    <a href="/monitoring">Мониторинг</a>
</li>

<li id="nav-history">
    <a href="/history">История</a>
</li>

{#<li  id="nav-analitycs">#}
{#    <a href="/analystics">Аналитика</a>#}
{#</li>#}

<li id="nav-logistic">
    <a href="/logistic">Логистика</a>
</li>



{#<li id="nav-reports">#}
{#    <a  href="/reports">Отчеты</a>#}
{#</li>#}

