<ul class="nav">
    <li id="nav-main">
        <a href="/">Главная</a>
    </li>

    <li id="nav-tour">
        <a href="/tour/">Тур</a>
    </li>

    <li id="nav-pricing">
        <a href="/pricing/">Цены</a>
    </li>

    <li id="nav-why">
        <a href="/why/">Почему мы?</a>
    </li>

    <li id="nav-about">
        <a href="/about/">О нас</a>
    </li>
</ul>

<ul class="nav pull-right">
    {% if user.is_authenticated %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.fio.last_name }} {{ user.fio.first_name }}
                <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a href="/monitoring" >Мониторинг</a>
                </li>

                <li class="divider">

                </li>
                <li>
                    <a href="/company/profile/" >Компания</a>
                </li>

                <li>
                    <a href="/account/profile/" >Профиль</a>
                </li>

                <li class="divider">

                </li>

                <li>
                    <a href="/account/logout/">Выйти</a>
                </li>
            </ul>
        </li>
    {% else %}
        <li class="divider-vertical"></li>
        <li>
            <a href="/account/login">Войти</a>
        </li>

        <li>
            <a href="/account/register/">Регистрация</a>
        </li>
    {% endif %}
</ul>