.search-label{
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}

#map{
    width: 0;
    height: 0;
    float:left;
    display: none;
    padding: 2px 2px 2px 2px;
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);  /*Для Firefox*/
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);  /*Для Safari и Chrome*/
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);  /*Параметры тени*/
}

.accordion-custom{
    height: 0 /*440px*/;
    overflow-y: scroll;
}

.accordion-group{
    margin-right: 2px;
    /*min-width: 250px;*/
}

p{
    font-size: 14px;
}

input[type="radio"]{
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
}


#searchButtonGroup
{
    min-height: 25px;
    padding-top: 5px;
}

#searchButtonGroup p
{
    float: left;
    padding-right: 20px;
}

.help-block{
    font-size: 12px;
}

/*Стиль для списка сотрудников*/
#selectEmployees{
    width: 300px;
    height:38px;
    font-size: 20px
}

/*Стиль для списка периодичности посещения торговой точки*/
#selectPeriod{
    width: 340px;
    height:38px;
    font-size: 20px
}